@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}
@mixin filter {
  background-color: rgba(0, 0, 0, 0.3);
}

@mixin overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  // background-color: rgba(0, 0, 0, 0.3);
  background-color: #975555;
}
@mixin popup {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  color: black;
  z-index: 100;
}

@mixin posterImg {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

@mixin backdropImg {
  height: 150px;
  width: 250px;
  object-fit: cover;
}
